.container {
  width: 100%;
  margin-top: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  text-decoration: none;
  display: inline-block;
  background-color: transparent;
  outline: none;
  border: 1px solid #282c34;
  padding: 8px;

  &:focus,
  &:active,
  &:hover {
    outline: none;
  }
}

.form-feedback {
  margin: 0;
  &.failure {
    color: red;
  }
  &.success {
    color: green;
  }
}

.mark {
  padding: 4px 8px;
  border: 1px solid coral;
  border-radius: 4px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;

  &.open {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .modal-content {
    position: relative;
    z-index: 1100;
    background-color: white;
    width: 300px;

    border: 1px solid #282c34;

    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      padding: 4px;
      border-bottom: 1px solid #282c34;

      .name {
        margin: 0;
      }
    }

    .body {

      display: flex;
      justify-content: center;
      align-items: center;
      padding: 16px;
    }
  }
}
