.main-form {
  width: 320px;
  padding-right: 12px;
  padding-left: 12px;

  height: 520px;
  border: 1px solid #eaeef5;
  border-radius: 4px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .password-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-bottom: 24px;
  }

  .buttons-block {
    width: 160px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 24px;

  }

  .loading{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
